@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Gość";
}
<h2>Witaj, @ViewData["User"]!</h2>
<p>Nie masz aktywnego członkostwa. <a href="/Memberships">Zarejestruj się teraz</a>, aby dołączyć do naszej siłowni!</p>
